*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
    font-size: 62.5%;
}



*{
    box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  /* the title*/

  .theTitle, .theSubtitle {
    text-align: center;
    font-family: "Rubik Marker Hatch", system-ui;
    font-weight: 400;
    font-size: 5rem;
    letter-spacing: 0.2em;
    text-shadow: 0 5px 0 #A9A9A9;

  }

  h1 span:hover {
    display: inline-block;
    transform: rotate(20deg);
    cursor: grab;
  }

  /* the profile image*/

  .profile {
    display: block;
    margin: 0 auto;
    width: 26%;
    border: 10px groove rgb(23, 23, 23);
  }

  .allTheLogos {
    margin-top: 5em;
    margin: 0 auto;
    width: 90%;
  }
/* the HTML Logo*/
  .htmlLogoHome {
    float: left;
    position: relative;
    width: 8%;
    clear: both;
  }

  .htmlLogo {
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .htmlTop {
    transform: rotate(-45deg) skew(15deg, 15deg);
  }

  .htmlLeft {
    transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
  }

  .htmlRight {
    transform: rotate(-15deg) skew(-15deg, -15deg) translate(50% ,100%);
  }

  @keyframes htmlLogoSpin {
    0% {
      transform: rotateY(0deg)
    }
    100% {
      transform: rotateY(360deg)
    }
  }

  .htmlLogoSpin:hover {
    animation: htmlLogoSpin 5s linear infinite;
}

  .htmlLogoSpin {
    cursor: pointer;
    transform-style: preserve-3d;
  }

  /* The CSS Logo */

  